%ul
  - contacts.each do |contact|
    -#- user = users.detect{ |user| user.twitter_id == contact.twitter_id }
    %li{id: "row_contact_#{contact.id}", class: contact.invited? ? 'vouch' : nil}
      .tag-icon
      - if contact.user && contact.user.active?
        = link_to image_tag(contact.user.avatar, width: 48, height: 48), me_user_path(contact.user)
      - else
        = image_tag contact.avatar.presence || "fallback/avatar_default_avatar.png", width: 48, height: 48

      - if contact.user && contact.user.active?
        %span.name= link_to contact.user.name, me_user_path(contact.user)
      - else
        %span.name= contact.name

      -# - if contact.twitter?
      -#   %span.user
      -#   = link_to "@#{contact.screen_name}", contact.url, target: '_blank'

      %ul.social-icons
        %li= link_to image_tag("icons/twitter.png"), "#"
        %li= link_to image_tag("icons/facebook.png"), "#"
        %li= link_to image_tag("icons/linkedin.png"), "#"

      %span.status
        - unless contact.invited?
          = link_to "Invite", "#", :class => 'js-contact-invite invite_contact btn primary small light right', :'data-contact' => {screen_name: contact.screen_name, name: contact.name, uid: contact.uid, provider: contact.authentication.provider}.to_json

= will_paginate @contacts
