- unless Rails.env.test? # stop warnings when running specs
  - content_for :javascripts do
    %script{:src => "//connect.facebook.net/en_US/all.js"}
    :javascript
      FB.init({appId: "#{ENV['FACEBOOK_APP_ID']}", xfbml: true, cookie: true});
      window.facebookAppId = "#{ENV['FACEBOOK_APP_ID']}";

= render 'invitation_message'

#content
  %section#twitter_contacts.listing-wrap
    %header#page-header

      %h1 Invite & Tag
      %ul.horizontal.right
        = link_to "Send Email Invite", "#", class: "btn primary small light", id: "js-email-invite"
    = render 'email_invite'

    %ul#js-import-connections.cells
      =render 'import_providers'
    %p.info.mini You can invite your contacts one by one by entering their email addresses, or authorize us to access your Twitter and LinkedIn contacts and invite more at once.


    .search_listing#js-search-contacts{style: @contacts.blank? ? "display: none" : nil}
      = form_tag invite_path, class: "left", remote: true, method: :get do
        %p
          = label_tag :q, "Search", class: 'hidden'
          = text_field_tag :q, params[:q]
          = submit_tag :search, value: "Search", name: nil
      -# %ul.social-icons
      -#   %li= link_to image_tag("icons/twitter500.png"), "#", width: "14"
      -#   %li= link_to image_tag("icons/facebook500.png"), "#", width: "14"
      -#   %li= link_to image_tag("icons/linkedin500.png"), "#", width: "14"

    %hr.divider
    #js-twitter-contacts-list.twitter-contacts-list.listing
      - if @contacts.present?
        = render 'contacts', :contacts => @contacts
      - elsif !current_user.twitter_state
        .ngo
          %p== Import your #{link_to "LinkedIn", user_omniauth_authorize_path(:linkedin)} or #{link_to "Twitter", user_omniauth_authorize_path(:twitter)} contacts and send invites.

%aside
  = render 'shared/sidebar_nav'
  = render 'shared/friend_nav', user: current_user
