- title("Resend confirmation instructions")

#content
  %section.devise
    %header#page-header
      %h1 Resend confirmation instructions

    = simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f|
      = f.error_notification
      %ul.inputs-list.bg
        %li= f.input :email, :required => true
        %li= f.button :submit, "Resend confimation instructions", class: 'btn large primary'
%aside
  = render "links"
