#content
  %section#profile.edit
    .details
      .photo
        = image_tag current_user.avatar_url(:thumb), :width => '126', :height => 126

      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:multipart => true, :method => :put }) do |f|
        %ul
          %li.name= f.input :first_name, :wrapper => false
          %li.name= f.input :last_name, :wrapper => false
          %li.name= f.input :job_title, :wrapper => false
          %li= f.input :country, :wrapper => false
          %li= f.input :city, :wrapper => false
          %li= f.input :personal_url, :wrapper => false
          %li= f.input :twitter_handle, :wrapper => false
          %li= f.input :avatar, :as => :file, :wrapper => false
          %li= f.hidden_field :avatar_cache
          %li.twitter
            = f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
          %li= f.button :submit, "Save", class: 'btn primary large'

  %section#tags
    #tag-msg
      %span.icon
      %a{:href => '#'}
        John Smith
      ,
      %a{:href => '#'}
        Marting Berg
      and 11 other people tagged or vouched you so far.



%aside

  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}

    .my-actions
      Welcome Adriana
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout

  #latest-activity
    %h2 Latest incoming activity

    %ul.unstyled
      %li.tag
        %span.icon
        Janko Jovanovic tagged you as enterpreneur
      %li.vouch
        %span.icon
        Boban Jovanoski vouched for enterprenur, manager,  leader
      %li.tag
        %span.icon
        John Smith tagged you as thinker
      %li.tag
        %span.icon
        Marting Berg tagged you as thinker
      %li.vouch
        %span.icon
        Jessica Hess vouched for enterprenur

    = link_to 'View all incoming activity ►', ''
