- content_for :styles do
  = stylesheet_link_tag 'devise', :media => 'all'

#content
  %section#devise
    %header#page-header
      %h1 Edit #{resource_name.to_s.humanize}

    = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      %ul.inputs
        %li= f.input :email, :required => true, :autofocus => true
        %li= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false
        %li= f.input :password_confirmation, :required => false
        %li= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true
        %li= f.button :submit, "Update", class: 'btn large primary'
    %h3 Cancel my account
    %p
      Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
    = link_to "Back", :back
