#content
  %section#profile.edit
    .details
      .photo#user_avatar_main
        = image_tag current_user.avatar_url(:thumb)
      #user_edit_avatar_loading.hide
        =image_tag 'ajax_loader.gif'

      %h1 Edit Profile
      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :remote => true, :html => {:multipart => true, :method => :put, :id => 'user_edit_avatar_form' }) do |f|
        .avatar
          = f.input :avatar, :as => :file, :wrapper => false, :input_html => {:id => "user_edit_avatar_file"}
          = f.hidden_field :avatar_cache

      = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put }) do |f|
        %ul.inputs-list.left
          %li.username.inner-tag
            %label Username
            %span.inner-tag-item http://givebrand.to/
            = f.input :username, :wrapper => false, :label => false
          %li= f.hidden_field :avatar_cache
          %li= f.input :full_name, :wrapper => false
          %li
            = f.input :short_bio, :as => :text, :wrapper => false, :input_html => {:class => 'short_bio'}
            %span.hint
              About you in less than
              %span#short_bio_word_counter 200
              characters.
          %li= f.input :location, :wrapper => false
          %li= f.input :personal_url, :wrapper => false, :label => 'Website'
          %li.twitter.inner-tag
            %label Twitter
            %span.inner-tag-item @
            = f.input :twitter_handle, :wrapper => false, :label => false
          %li.buttons= f.button :submit, "Save", class: 'btn primary large'

  .cancel_account
    = link_to "Cancel my account", user_registration_path, method: :delete, confirm: "Are you sure you want to cancel your account?", class: 'cancel_action'
    %p
      %strong Warning:
      ="Once you cancel your account, you will lose all data associated with it. There is no undo."


%aside
  = render 'shared/sidebar_nav'
