- @link_color = "#137AC2"

!!!
%html
  %head
    %meta{ 'content' => "text/html; charset=UTF-8", 'http-equiv' => "Content-Type" }

  %body{:style => "background:url(http://givebrand.com/assets/bg2.png) #f6f6f6;font-size:12px;font-family:Helvetica,Arial,sans-serif;margin:0;padding:15px 0 0;line-height:1.4;"}
    %table{:style => "margin: 0 auto;width:600px;"}
      %tbody
        = render 'user_mailer/header'

    %table{:style => "background:#fff;margin: 0 auto;padding:20px;text-align:left;width:600px;"}
      %tbody

        %tr
          %td
            %h1{:style => "color:#444444;margin:10px 0 5px;font-size:16px;font-weight:normal;"} You're so popular, #{@receiver.name}.
            %h2{:style => "font-size:22px;font-weight:normal;line-height:1.4;color:#444;margin:0 0 15px;"}
              Great news! #{link_to @user.name, user_path(@user), :style => "color: #{@link_color};"} has just accepted your invitation to join GiveBrand!
              %br
              Why don't you head over #{link_to @user.name, user_path(@user), :style => "color: #{@link_color};"} and help nudge them along with a tag, vouch or endorsement?

        %tr
          %td{:colspan => "100"}
            %hr{:style => "background:none;border:none;border-top:1px solid #eee;"}
        %tr
          %td
            %p{:style => "font-size:12px;line-height:1.4;color:#444;margin:0 0 15px;"}
              Or #{link_to 'invite', invite_url, :style => "color: #{@link_color};"} a few more people while you're at it!

    = render 'user_mailer/footer'
