#content
  %section#twitter_contacts.content
    %header#page-header

      %h1 People

      %nav.right
        %ul.tabs
          %li{:class => people_active_class('index')}
            = link_to 'Tagged Me', people_path, :class => 'js-remote'
          %li.last{:class => people_active_class('supported')}
            = link_to "I've Tagged", people_supported_path, :class => 'js-remote'
          %li.first{:class => people_active_class('pending')}
            = link_to 'Pending', people_pending_path, :class => 'js-remote'


  #invitation_content.listing-wrap
    %section#invitation_contacts.listing
      %ul
        - @users.each do |user|
          %li
            - if user.active?
              = image_tag user.avatar_url(:medium)
              %span.name= link_to user.name, me_user_path(user)

            - else
              = user.name.presence || user.email
              %span.status

    = will_paginate @users

%aside
  = render 'shared/sidebar_nav'
