#content
  %section#devise
    %header#page-header
      %h1 Sign Up

    = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %ul.inputs-list.bg
        %li= f.input :full_name, :required => false, :autofocus => true, :placeholder => "Full Name"
        %li= f.input :email, :placeholder => "Email"
        %li= f.input :password, :placeholder => "Password"
        %li.buttons= f.button :submit, "Sign up", class: 'btn large primary'
      %br
%aside
  = render "links"
