#content
  %section#activity
    %header#page-header
      %h1 Recent Activity
      %nav
        %ul.tabs
          %li.first{:class => activity_active_class('all')}
            = link_to 'All', all_user_path(@user)
          %li{:class => activity_active_class('incoming')}
            = link_to 'Incoming activity', incoming_user_path(@user)
          %li.last{:class => activity_active_class('outgoing')}
            = link_to 'Outgoing activity', outgoing_user_path(@user)

    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              .icon
              %h2
                = activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    .pagination
      = will_paginate @activity_items

%aside
  = render :partial => 'shared/sidebar_nav', :locals => { :user => @user }
  = render :partial => 'shared/sidebar_activity', :locals => { :user => @user }