#content
  %section#search
    %header#page-header
      - if params[:q].present?
        %h1
          Search results for
          %em
            = "'#{params[:q]}'"
      - else
        %h1 Latest profiles


    .feed
      %ul.list-view.unstyled

        - @users.each do |user|
          %li
            .content
              .photo
                = link_to user do
                  %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}
              %h2
                = raw [link_to(user.full_name, user), user.job_title].join(', ')
              .details

                - if user.interacted_by(current_user)
                  .icon
                  = "You interacted with #{user.full_name}’s profile."

                - top_tags = top_tags(user)
                - if top_tags.present?
                  = "Top tags: #{top_tags.join(', ')}"


    .pagination
      = will_paginate @users

%aside

  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}

    .my-actions
      Welcome Adriana
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout

  %section#latest-activity
    %h2 Latest incoming activity

    %ul.unstyled
      %li.tag
        %span.icon
        Janko Jovanovic tagged you as enterpreneur
      %li.vouch
        %span.icon
        Boban Jovanoski vouched for enterprenur, manager,  leader
      %li.tag
        %span.icon
        John Smith tagged you as thinker
      %li.tag
        %span.icon
        Marting Berg tagged you as thinker
      %li.vouch
        %span.icon
        Jessica Hess vouched for enterprenur

    = link_to 'View all incoming activity ►', ''

