#content
  %section#search
    .content
      %header#page-header
        %h1
          Search results for
          %em
            = "'#{params[:q]}'"

      .feed
        %ul.list-view.unstyled

          - @users.each do |user|
            %li
              .content
                .photo
                  = link_to me_user_path(user) do
                    = image_tag user.avatar.url(:avatar)
                %h2= profile_title(user)
                %br
                .details

                  - if current_user && user.interacted_by(current_user)

                    = "You interacted with #{user.name}’s profile."

                  - top_tags = user.top_tags(3)
                  - if top_tags.present?
                    Top Tags:
                    = raw top_tags.collect { |top_tag| tag_link(top_tag.name) }.join(", ")

      = will_paginate @users

%aside
