- title("Search results for '#{params[:q]}' on Givebrand #{pagination_title(@users)}")

#content
  %section#search
    .content
      %header#page-header
        %h1
          Search results for
          %em
            = "'#{params[:q]}'"

      .feed
        %ul.list-view.unstyled#js_collection_list
          = render 'searched_users'

      = will_paginate @users

%aside
