- title("#{user_name_with_username(@user)} on Givebrand")
- description(@user.short_bio)
- keywords(@user.tags.map(&:name).join(', '))

- content_for :meta_tags do
  %meta{ :property => "og:title", :content => "Help me boost my credibility on GiveBrand" }
  %meta{ :property => "og:type", :content => "article" }
  %meta{ :property => "og:url", :content => user_path(@user) }
  %meta{ :property => "og:site_name", :content => "Give Brand" }
  %meta{ :property => "og:description", :content => "I'm building my brand on GiveBrand. Help me boost my credibility... create your own profile and tag me! #{user_path(@user)}" }
  %meta{ :property => "og:image", :content => @user.avatar_url }
  - # Google Plus
  %meta{:content => "Help me boost my credibility on GiveBrand", :itemprop => "name"}
  %meta{:content => "I'm building my brand on @GiveBrand. Help me boost my credibility... create your own profile and tag me! #{user_path(@user)}", :itemprop => "description"}/
  - if @user.avatar
    %meta{:content => url_for(@user.avatar_url(:thumb)), :itemprop => "image"}/

#login_dialog{style: "display: none", title: ""}
  %p.note Almost there! Sign up to join GiveBrand or login to your account.
  = render 'shared/sign_in'
  = render 'shared/sign_up', :resource => User.new, :resource_name => :user
  = hidden_field_tag :word_id_after_login
  = hidden_field_tag :tag_names_after_login
  = hidden_field_tag :endorse_after_login

#content.hresume
  = render 'shared/profile'
  = render 'shared/tag_cloud', can_delete: false
  = render 'endorsements/endorsements'

%aside
  = render 'shared/friend_nav', user: @user
  = render 'shared/sidebar_activity', :user => @user
