- content_for :styles do
  = stylesheet_link_tag 'profile', :media => 'all'

#content

  %section#profile
    .details
      .photo
        = image_tag @user.avatar_url(:thumb), :width => '126', :height => 126
      %h1= @user.full_name
      %h2= @user.job_title
      %ul
        - unless @user.city.blank?
          %li.location
            %span.icon
            = @user.city
        - unless @user.personal_url.blank?
          %li.web
            %span.icon
            - #TODO create url for given addr ex google.com
            = link_to @user.personal_url, '#'
        - if @user.twitter_handle
          %li.twitter
            %span.icon
            =link_to @user.twitter_handle, "http://twitter.com/#{@user.twitter_handle}"
    .actions
      Like
      Tweet
      = link_to 'Edit profile', edit_user_registration_path, :class => 'btn primary large'

  %section#tags

    - unless @user == current_user
      #add-tag
        .inner
          =form_tag user_user_tags_path(@user) do
            %label="Tag #{@user.first_name}"
            %input{:type => 'text', :name => 'tags', :placeholder => 'e.g. web design, leadership, project management', :class => 'large', :id => 'tag_names'}
            %button.btn.primary.large ADD TAG
          .vouche Or <strong>vouche for existing tag</strong><br/> by clicking on it
        .arrow
    - else
      #add-tag
        - #TODO styleme
        .inner{:style => "padding-left: 20px;"}
          %h3 You can remove the tags you don't like

    #tag-cloud{:"data-tag-cloud-path" => user_user_tags_path(@user), :"data-logged-in" => user_signed_in?.to_s}

    #tag-msg
      %span.icon
      %a{:href => '#'}
        John Smith
      ,
      %a{:href => '#'}
        Marting Berg
      and 11 other people tagged or vouched you so far.

%aside

  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}

    .my-actions
      Welcome Adriana
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout

  #latest-activity
    %h2 Latest incoming activity

    %ul.unstyled
      %li.tag
        %span.icon
        Janko Jovanovic tagged you as enterpreneur
      %li.vouch
        %span.icon
        Boban Jovanoski vouched for enterprenur, manager,  leader
      %li.tag
        %span.icon
        John Smith tagged you as thinker
      %li.tag
        %span.icon
        Marting Berg tagged you as thinker
      %li.vouch
        %span.icon
        Jessica Hess vouched for enterprenur

    = link_to 'View all incoming activity ►', ''
