- content_for :meta_tags do
  %meta{ :property => "og:title", :content => "Help boost my influence at givebrand.to!" }
  %meta{ :property => "og:type", :content => "article" }
  %meta{ :property => "og:url", :content => me_user_url(@user) }
  %meta{ :property => "og:site_name", :content => "Give Brand" }
  %meta{ :property => "og:description", :content => "Help boost my influence at givebrand.to!" }
  %meta{ :property => "og:image", :content => user_avatar_url(@user) }

#login_dialog{style: "display: none", title: ""}
  %p.note Almost there! Sign up to join GiveBrand or login to your account.
  = render 'shared/sign_in'
  = render 'shared/sign_up', :resource => User.new, :resource_name => :user
  = hidden_field_tag :word_id_after_login
  = hidden_field_tag :tag_names_after_login

- if user_signed_in? && @user == current_user && (!current_user.user_tags.any? || current_user.sign_in_count <= 1)
  #bubbles_container{:style => "display:none"}
    #bubbles
    .clear{:style => "clear:both"}
    %ul#steps
      %li#step_1
        = simple_form_for(current_user, :as => :user, :url => registration_path(:user), :remote => true, :html => {:id => 'step_1_form', :multipart => true, :method => :put }) do |f|
          %h1 Personal Information
          = f.input :avatar, :as => :file, :wrapper => false
          = f.hidden_field :avatar_cache
          = hidden_field_tag :current_step, "step_1"
          = hidden_field_tag :next_step, "step_2"
          %ul.inputs-list.left
            %li= f.input :full_name, :wrapper => false
            %li= f.input :location, :wrapper => false
            %li= f.input :personal_url, :wrapper => false, :label => 'Website'
            %li.buttons
              = f.button :submit, "Next", id: 'next_step_1', class: 'btn next'
      %li#step_2{:style => "display:none"}
        %h1 Video
        %ul.inputs-list.left
          %li.buttons
            %a{id: 'prev_step_2', class: 'btn'}Previous
            %a{id: 'next_step_2', class: 'btn'}Next
      %li#step_3{:style => "display:none"}
        %h1 Add Tags
        = form_tag user_user_tags_path(current_user), :id => 'step_3_form' do
          = hidden_field_tag :tag_names, '', :id => 'step_3_tags'
          %ul.inputs-list
            %li
              = label_tag "tag_1"
              = text_field_tag "tag_1", nil, :placeholder => 'Enter Tag'
            %li
              = label_tag "tag_2"
              = text_field_tag "tag_2", nil, :placeholder => 'Enter Tag'
            %li
              = label_tag "tag_3"
              = text_field_tag "tag_3", nil, :placeholder => 'Enter Tag'
          .clear
          %a{id: 'prev_step_3', class: 'btn'}Previous
          = submit_tag "Next", id: 'next_step_3', class: 'btn next'

      %li#step_4{:style => "display:none"}
        %h1 Invite your friends from Twitter
        =link_to "Invite friends from Twitter", import_twitter_contacts_path, :class => "btn large primary"
        %br
        %br
        %a{id: 'prev_step_4', class: 'btn'}Previous
        %a{id: 'next_step_4', class: 'btn'}Finish
#content
  %section#profile
    .details
      .left
        - if user_signed_in? && @user == current_user
          .photo
            = link_to image_tag(@user.avatar_url(:thumb)), edit_user_registration_path, :id => "user_avatar_main"
          = link_to edit_user_registration_path, :class => 'no_underline' do
            %h1= @user.full_name
        - else
          .photo
            = image_tag(@user.avatar_url(:thumb))
          %h1= @user.full_name
        %h2= @user.job_title
      %ul.right
        - unless @user.location.blank?
          %li.location
            %span.icon
            = @user.location
        - unless @user.personal_url.blank?
          %li.web
            %span.icon
            - #TODO create url for given addr ex google.com
            = link_to @user.personal_url, @user.personal_url, :target => '_blank'
        - unless @user.twitter_handle.blank?
          %li.twitter
            %a.twitter-follow-button{"data-hashtags" => "givebrand", "data-show-count" => "false", :href => "https://twitter.com/#{@user.twitter_handle}"}="Follow @#{@user.twitter_handle}"
            :javascript
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
  %ul.social_fixed
    %li
      %a.twitter-share-button{'data-count' => "vertical", "data-text" => "Help boost my influence at givebrand.to! #{me_user_url(@user)} #givebrand via @givebrand", :href => "https://twitter.com/share"} Tweet
      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    %li
      %script{:src => "//platform.linkedin.com/in.js", :type => "text/javascript"}
      %script{"data-counter" => "top", "data-url" => me_user_url(@user), :type => "IN/Share"}

  = render :partial => 'shared/tag_cloud', :locals => {:can_delete => false}

%aside
  = render 'shared/sidebar_activity', :user => @user
