#content
  %section#profile
    .details
      .photo
        = image_tag @user.avatar_url(:thumb), :width => '126', :height => 126
      %h1= @user.full_name
      %h2= @user.job_title
      %ul
        - unless @user.city.blank?
          %li.location
            %span.icon
            = @user.city
        - unless @user.personal_url.blank?
          %li.web
            %span.icon
            - #TODO create url for given addr ex google.com
            = link_to @user.personal_url, @user.personal_url, :target => '_blank'
        - unless @user.twitter_handle.blank?
          %li.twitter
            %span.icon
            =link_to @user.twitter_handle, "http://twitter.com/#{@user.twitter_handle}", :target => '_blank'
    - if current_user && current_user == @user
      .actions
        = link_to 'Edit profile', edit_user_registration_path, :class => 'btn large primary'

  = render :partial => 'shared/tag_cloud'

%aside
  = render :partial => 'shared/sidebar_nav', :locals => { :user => current_user }

  #latest-activity
    %h2 Latest incoming activity

    %ul.unstyled
      %li.tag
        %span.icon
        Janko Jovanovic tagged you as enterpreneur
      %li.vouch
        %span.icon
        Boban Jovanoski vouched for enterprenur, manager,  leader
      %li.tag
        %span.icon
        John Smith tagged you as thinker
      %li.tag
        %span.icon
        Marting Berg tagged you as thinker
      %li.vouch
        %span.icon
        Jessica Hess vouched for enterprenur

    = link_to 'View all incoming activity ►', ''
