#content
  - if user_signed_in? && @user == current_user
    = render 'friends_filter'
  - else
    = render 'shared/profile'


  #invitation_content.listing-wrap
    %section#invitation_contacts.listing
      - if @users.present?
        %ul
          - @users.each do |user|
            %li
              - if user.active?
                = image_tag user.avatar_url(:medium)
                %span.name= link_to user.name, me_user_path(user)

              - else
                = user.name.presence || user.email
                %span.status
      - else
        %ul
          %li== No #{params[:action]} present

    = will_paginate @users

%aside
  - if user_signed_in? && @user == current_user
    = render 'shared/sidebar_nav'
  = render 'shared/friend_nav', user: @user
  = render 'shared/sidebar_activity', :user => @user
