- if params[:action] == 'followers'
  - title("People who follow #{@user.name} on Givebrand #{pagination_title(@users)}")
- elsif params[:action] == 'following'
  - title("People #{@user.name} is following on Givebrand #{pagination_title(@users)}")

- unless Rails.env.test? # stop warnings when running specs
  - content_for :javascripts do
    = render 'shared/twitter_social_network_script'

#content
  = render 'shared/profile'

  %section#twitter_contacts.content
    %header#page-header
      %h1
        = params[:action].capitalize

  #invitation_content.listing-wrap
    %section#invitation_contacts.listing
      - if @users.present?
        %ul#js_collection_list
          = render 'users'

      - else
        .ngo
          %p
            %span== No #{params[:action]} present.
            %br

    = will_paginate @users, :renderer => PaginationNoFollow

%aside
  - if user_signed_in? && @user == current_user
    = render 'shared/sidebar_nav'
  = render 'shared/friend_nav', user: @user
  = render 'shared/sidebar_activity', :user => @user
