#loading{style: "display: none"} loading...
#twitter_invite{style: "display: none", title: ""}
  %p.note Send direct message to your friend!
  = form_tag twitter_messages_path, remote: true, id: 'js-twitter-dm-form' do
    %p= hidden_field_tag :twitter_id, "", :id => 'js-twitter-id', :readonly => true
    %p= text_field_tag :screen_name, "", :id => 'js-twitter-screen-name', :readonly => true
    %p= text_area_tag :message, "", :id => 'js-twitter-message'
    %p= submit_tag :send_dm, value: "Send Direct Message"


#content
  %section#twitter_contacts
    %header#page-header
      %h1 Your Network
      %ul.horizontal.right
        - if @contacts.empty?
          %li= link_to "Import", import_twitter_contacts_path, :class => "btn primary small gray"
        - else
          %li= link_to "Re-Import", import_twitter_contacts_path, :class => "btn primary small gray"
          %li= link_to "Disconnect", twitter_session_path, :confirm => "Are you sure", :method => :delete, :class => "btn primary small gray"
      
    .search_twitter_contacts.left
      = form_tag twitter_contacts_path, remote: true, method: :get do
        %p
          = text_field_tag :q, params[:q]
          = submit_tag :search, value: "Search", name: nil

    %hr.divider
    #js-twitter-contacts-list.twitter-contacts-list{:"data-message" => "Help boost my influence at givebrand.to! #{me_user_url(current_user)}"}
      = render 'contacts', :contacts => @contacts, :users => @users

%aside
  = render 'shared/sidebar_nav'
