#loading{style: "display: none"} loading...
#twitter_invite{style: "display: none", title: ""}
  %p.note#js-twitter-invite-title
  #twitter_invite_wrap
    #page-header
      %h1#js-twitter-invite-header
    = form_tag twitter_messages_path, remote: true, id: 'js-twitter-dm-form' do
      %p= hidden_field_tag :twitter_id, "", :id => 'js-twitter-id', :readonly => true
      %p.hide= text_field_tag :screen_name, "", :id => 'js-twitter-screen-name', :readonly => true
      %p= text_area_tag :message, "", :id => 'js-twitter-message'
      %p= submit_tag :send_dm, value: "Send Direct Message", :class => "btn primary large"


#content
  %section#twitter_contacts
    %header#page-header

      %h1 Your Network
      %ul.horizontal.right
        - if user_signed_in?
          %li= link_to "Send Personal Invites", new_user_invitation_path, :class => "btn primary small"
      
    .search_twitter_contacts
      = form_tag twitter_contacts_path, :class => "left", remote: true, method: :get do
        %p
          = text_field_tag :q, params[:q]
          = submit_tag :search, value: "Search", name: nil
      %ul.horizontal.right
        - if @contacts.empty?
          %li= link_to "Twitter Import", import_twitter_contacts_path, :class => "btn primary small light"
        - else
          %li= link_to "Re-Import", import_twitter_contacts_path, :class => "btn primary small light"
          %li= link_to "Disconnect", twitter_session_path, :confirm => "Are you sure", :method => :delete, :class => "btn primary small light"

    %hr.divider
    #js-twitter-contacts-list.twitter-contacts-list{:"data-message" => "Help boost my influence at givebrand.to! #{me_user_url(current_user)}"}
      = render 'contacts', :contacts => @contacts, :users => @users

%aside
  = render 'shared/sidebar_nav'
