#loading{style: "display: none"} loading...
#twitter_invite{style: "display: none", title: ""}
  %p.note Send direct message to your friend!
  = form_tag twitter_messages_path, remote: true, id: 'twitter_dm_form' do
    %p= hidden_field_tag :twitter_id, "", :id => 'js_twitter_id', :readonly => true
    %p= text_field_tag :screen_name, "", :id => 'js_screen_name', :readonly => true
    %p= text_area_tag :message, "", :id => 'js_message'
    %p= submit_tag :send_dm, value: "Send Direct Message"


#content
  %section#twitter_contacts
    .search_twitter_contacts
      = form_tag twitter_contacts_path, remote: true, method: :get do
        %p
          = text_field_tag :q, params[:q]
          = submit_tag :search, value: "Search", name: nil

    %ul
    - if @contacts.empty?
      %li= link_to "Import", import_twitter_contacts_path
    - else
      %li= link_to "Re-Import", import_twitter_contacts_path
      %li= link_to "Disconnect", twitter_session_path, :confirm => "Are you sure", :method => :delete

    #js_twitter_contacts_list
      = render 'contacts', :contacts => @contacts

%aside
  = render 'shared/sidebar_nav'
