#content
  %section#twitter_contacts.content
    %header#page-header

      %h1 Your Network

      %nav.right
        %ul.tabs
          %li.first{:class => network_active_class('index')}
            = link_to 'Pending', network_path, :class => 'js-remote'
          %li{:class => network_active_class('tagged')}
            = link_to 'Tagged', network_tagged_path, :class => 'js-remote'
          %li.last{:class => network_active_class('tagged_you')}
            = link_to 'Tagged You', network_tagged_you_path, :class => 'js-remote'

      = link_to "Invite", network_invite_path, :class => "btn primary small"


  #invitation_content
    %section#invitation_contacts.twitter-contacts-list
      %ul
        - @users.each do |user|
          %li
            - if user.active?
              = image_tag user.avatar_url(:medium)
              %span.name= link_to user.name, me_user_path(user)

            - else
              = user.name.presence || user.email
              %span.status

    = will_paginate @users

%aside
  = render 'shared/sidebar_nav'
