%section#endorsements
  %hr.divider.strong
  #tag-listing.listing-wrap
    #page-header.gray
      %h1 Tag Breakdown & Endorsements

      .tag-search.right
        = form_tag people_invite_path, remote: true, method: :get do
          %p
            = text_field_tag :q, params[:q]
            = submit_tag :search, value: "Search", name: nil

    .listing
      %ul
        - @user_tags.each do |user_tag|
          - rank = user_tag.rank.value
          %li{id: "endorse_#{user_tag.id}_container"}
            %span.score= user_tag.score.value || 1
            %span.name= user_tag.tag.name
            - if rank
              %span.user="##{rank} out of #{user_tag.incoming.value}"
            %span.endorse
              - if @user != current_user
                = link_to "Endorse this tag", "#",id: "endorse_#{user_tag.id}_link", class: "js-endorse-tag action", :"data-user_tag_id" => user_tag.id
              = link_to "Show 3 endorsements", "#"
            %ul.tag-endorse
              = render :partial => 'endorsements/endorsement', :collection => user_tag.endorsements.order("created_at desc");
  .hide
    =render :partial => 'endorsements/form'
