%section#endorsements
  - if @user_tags.present?
    %hr.divider.strong
    #tag-listing.listing-wrap
      #page-header.gray
        %h1 Endorsements

        .tag-search.right
          %p
            = text_field_tag :endorsement_search, nil
            = submit_tag :search, value: "Search", name: nil

      .listing
        %ul#endorsements_list
          - @user_tags.each do |user_tag|
            - endorsements = user_tag.endorsements.sort_by { |e| e.id }
            %li.endorsement_li{id: "endorse_#{user_tag.id}_container"}
              %span.score= user_tag.endorsements.length
              %span.name= user_tag.tag.name
              %span.endorse
                - if @user != current_user
                  = link_to "Endorse this tag", "#",id: "endorse_#{user_tag.id}_link", class: 'js-endorse-tag action', :'data-user_tag_id' => user_tag.id
                - if endorsements.present?
                  = link_to "Hide all endorsements", "#", :class => "js-endorsements-toggle", :'data-user_tag_id' => user_tag.id
                - else
                  = link_to "Show all endorsements", "#", :class => "js-endorsements-toggle hide", :'data-user_tag_id' => user_tag.id
              %ul.tag-endorse{class: (endorsements.present? ? nil : 'hide'), id: "endorsements_#{user_tag.id}_list"}
                = render :partial => 'endorsements/endorsement', :collection => endorsements

    .hide
      =render :partial => 'endorsements/form'
