%section#endorsements
  %hr.divider.strong
  #tag-listing.listing-wrap
    #page-header.gray
      %h1 Endorsements
      = link_to "Write an endorsement", "#", id: 'write_endorsement_button', class: "right btn primary small"
    = form_tag(endorse_user_path(@user), remote: true, id: 'write_endorsement_form', class: 'add-endorsement hide') do
      = text_field_tag :tag, params[:tag], id: 'write_endorsement_tag', :placeholder => "Enter Tag"
      #write_endorsement_tag_error.error
      = text_area_tag :description, params[:description], id: 'write_endorsement_description', :placeholder => "Write an endorsement", :rows => 2
      #write_endorsement_description_error.error
      %span.hint.right
        %span#write_endorsement_word_counter 300
        characters remaining.
      .buttons
        = submit_tag "Endorse", id: 'write_endorsement_submit', :class => 'btn primary medium'
        %span.inline
          = link_to 'Cancel', '#', id: 'write_endorsement_cancel', class: 'cancel'
        %span.loader.inline.hide
          = image_tag 'ajax_loader.gif'
    .listing
      %ul#endorsements_list
        - unless @user_tags.present?
          %li#js-no-endorsements
            .ngo
              %p
                %span This user has no endorsements.
                %br
                = link_to "Write the first one!"
        - else
          = render :partial => 'shared/user_tag_endorsement', :collection => @user_tags, :as => :user_tag

    .hide
      =render :partial => 'endorsements/form'
