%section#endorsements
  %hr.divider.strong
  #tag-listing.listing-wrap
    #page-header.gray
      %h1 Endorsements
      = link_to "Write an endorsement", "#", id: 'write_endorsement_button', class: "right btn primary small"

    = simple_form_for(Endorsement.new, remote: true, html: {id: 'write_endorsement_form', class:'add-endorsement hide' }) do |f|
      = f.input :tag_name, label: false, input_html:{placeholder: "Enter Tag"}
      = f.input :user_id, as: :hidden, input_html:{value: @user.id}
      = f.input :description, label: false, input_html:{placeholder: "Write an endorsement", rows: 2}
      %span.hint.right
        %span#write_endorsement_word_counter 300
        characters remaining.
      .buttons
        = f.button :submit, "Endorse", class: 'btn primary medium'
        %span.inline
          = link_to 'Cancel', '#', id: 'write_endorsement_cancel', class: 'cancel'
        %span.loader.inline.hide
          = image_tag 'ajax_loader.gif'
    .listing
      %ul#endorsements_list
        - if @user_tag_endorsements.present?
          - @user_tag_endorsements.each do |user_tag, endorsements|
            = render 'shared/user_tag_endorsement', user_tag: user_tag, endorsements: endorsements
        - else
          %li#js-no-endorsements
            .ngo
              %p
                %span This user has no endorsements.
                %br
                = link_to "Write the first one!", nil, id: 'write_endorsement_link'

    .hide
      =render :partial => 'endorsements/form'
