#page
  %footer
    .right
      %a{:href => "https://mixpanel.com/f/partner"}
        %img{:alt => "Mobile and Web Analytics", :src => "https://mixpanel.com/site_media/images/partner/badge_light.png"}/
      = link_to image_tag("icons/twitter.png"), "https://twitter.com/givebrand/"
      = link_to image_tag("icons/facebook.png"), "https://www.facebook.com/GiveBrand"
      = link_to image_tag("icons/googleplus.png"), "https://plus.google.com/116456795777845351010/posts"
      /= link_to image_tag("icons/linkedin.png"), "#"
      = link_to image_tag("icons/tumblr.png"), "http://blog.givebrand.com/"

    = link_to 'Tour', tour_path
    &bull;
    = link_to 'About', about_path
    &bull;
    = link_to 'Team', team_path
    &bull;
    = link_to 'Privacy policy', privacy_path
    &bull;
    = link_to 'Terms of use', terms_path
    &bull;
    = link_to 'Press', press_path
    &bull;
    = mail_to 'feedback@givebrand.com', 'Send feedback'
    %br
    %span Copyright &copy; GiveBrand 2012
    %br
    %br
    - if params[:controller] == 'home'
      = link_to 'To the top', "#global-header", :class => "to-the-top"
