- if user_signed_in?
  #bubbles_container{:"data-sign_in_count" => current_user.sign_in_count, :style => "display:none"}
    #guide_title
      Few moments to set up your account.
    %a#guide_close{href: '#', style: 'float:right'}
      Do it later
    #bubbles
    .clear{:style => "clear:both"}
    %ul#steps

      %li#step_1
        = simple_form_for(current_user, :as => :user, :url => registration_path(:user), :remote => true, :html => {:id => 'step_1_form', :multipart => true, :method => :put }) do |f|
          %h1 Personal Information
          = hidden_field_tag :current_step, "step_1"
          = hidden_field_tag :next_step, "step_2"
          %ul.inputs-list.left
            %li.avatar
              = f.input :avatar, :as => :file, :wrapper => false
              = f.hidden_field :avatar_cache
              %span.btn.primary.medium.light Browse
            %li= f.input :full_name, :wrapper => false
            %li= f.input :location, :wrapper => false
            %li= f.input :personal_url, :wrapper => false, :label => 'Website'
            %li.buttons
              = f.button :submit, "Next", id: 'next_step_1', class: 'btn next primary medium gray'

      %li#step_2{:style => "display:none"}
        %h1 Brand yourself in few words
        = form_tag user_user_tags_path(current_user), :id => 'step_2_form' do
          = hidden_field_tag :tag_names, '', :id => 'step_2_tags'
          %ul.inputs-list
            %li
              = label_tag "tag_1"
              = text_field_tag "tag_1", nil, :placeholder => 'Enter Tag'
            %li
              = label_tag "tag_2"
              = text_field_tag "tag_2", nil, :placeholder => 'Enter Tag'
            %li
              = label_tag "tag_3"
              = text_field_tag "tag_3", nil, :placeholder => 'Enter Tag'
            %li= link_to "Watch our video to learn more about tagging."
            %li.buttons
              %a{id: 'prev_step_2', class: 'btn primary medium gray'}Previous
              = submit_tag "Next", id: 'next_step_2', class: 'btn next primary medium gray'

      %li#step_3{:style => "display:none"}
        %h1 Invite your friends from Twitter
        %ul.inputs-list
          %li.full.center
            %a{ :href => import_twitter_contacts_path, :class => "twitter-button"}
              = image_tag "twitter-mascot.png"
              %span
                Link with your Twitter account
                %br
                and import friends
          %li.buttons
            %a{id: 'prev_step_3', class: 'btn primary medium gray'}Previous
            %a{id: 'next_step_3', class: 'btn primary medium'}Finish
