
%header#global-header
  %nav
    %ul#global-nav
      - if user_signed_in?
        %li#gn-logo
          = link_to activity_path('all'), :class => 'logo' do
            %span give
            brand
        %li#global-search.right
          = form_tag users_path, :id => 'g-search', :method => :get do
            //= label_tag :q, "Search"
            = text_field_tag :q, '', :id => 'g-searchtext', :placeholder => 'Search people or tag'
            %button go

        %li#gn-logout
          = link_to "Logout", destroy_user_session_path
        %li#gn-profile
          = link_to 'My Profile', edit_user_registration_path, :class => ((params[:controller] == 'users/registrations') ? 'active' : nil)
        %li#gn-tour
          = link_to 'Tour', tour_path, :class => (params[:controller] == 'home' && params[:action] == 'tour' ? 'active' : nil)
        %li#gn-activity
          = link_to 'Home', activity_path('all'), :class => (params[:controller] == 'activities' ? 'active' : nil)

      - else
        %li#gn-logo
          = link_to root_path, :class => 'logo' do
            %span give
            brand
        - if params[:controller] == 'home'
          %li#gn-signin
            = simple_form_for(:user, :url => user_session_path, :namespace => 'sign_in', :html => {:id => 'user_sign_in'}) do |f|
              %ul
                %li
                  = f.input :email, :required => false, :autofocus => true, :input_html => { :value => nil }, :placeholder => "Email or Username", :label => "Email or Username", :label_html => {:class => 'hidden'}, :input_html => {:tabindex => 1}
                  = f.input :remember_me, :as => :boolean, :input_html => {:tabindex => 3}
                %li
                  = f.input :password, :required => false, :placeholder => "Password", :input_html => { :value => nil }, :label_html => {:class => 'hidden'}, :input_html => {:tabindex => 2}
                  = link_to "Forgot your password?", new_user_password_path
                %li
                  = f.button :submit, "Sign in", class: 'btn small primary gray'

          //%li#gn-tour
          //  = link_to 'Tour', tour_path, :class => (params[:controller] == 'home' && params[:action] == 'tour' ? 'active' : nil)
          //%li#gn-register
          //  = link_to "Sign up", new_user_registration_path, :class => (params[:controller] == 'users/registrations' ? 'active' : nil)
          //%li#gn-login
          //  = link_to 'Login', new_user_session_path, :class => (params[:controller] == 'users/sessions' ? 'active' : nil)
