%header#global-header.app
  .wrapper
    %nav
      %ul#global-nav
        %li#gn-logo
          = link_to (user_signed_in? ? activity_path('all') : root_path), :class => 'logo' do
            %span give
            brand
        %li#global-search
          = form_tag search_path, :id => 'g-search', :method => :get do
            //= label_tag :q, "Search"
            = text_field_tag :q, '', :id => 'g-searchtext', :placeholder => 'Search people or tag'
            %button go

        - if user_signed_in?
          %li#gn-share.right
            = link_to 'Share', '#', id: 'js_share_btn', :class => "contrast"
          %li#gn-activity

            = link_to activity_path('all'), :class => (params[:controller] == 'activities' ? 'active' : nil) do
              //%span#gn-activity-counter 144
              Activity
          %li#gn-invite
            = link_to 'Invite', invite_path, :class => (params[:controller] == 'invite' ? 'active' : nil)

          %li#gn-profile
            = link_to user_path(current_user), :class => ((params[:controller] == 'users' && ['show', 'followers', 'following'].include?(params[:action]) && current_user == @user) ? 'active' : nil) do
              = image_tag current_user.avatar_url(:thumb), :width => "15"
              = current_user.name
            %ul
              %li= link_to "Profile", user_path(current_user)
              %li= link_to "Logout", destroy_user_session_path


        - else
          - unless Rails.env.test? # stop warnings when running specs
            = content_for :javascripts do
              %script{:src => "http://www.youtube.com/player_api", :type => "text/javascript"}

          %li
            = link_to 'What is GiveBrand?', '#', :class => 'video'
          %li
            = link_to 'Tour', tour_path, :class => (params[:controller] == 'home' && params[:action] == 'tour' ? 'active' : nil)
          %li
            = link_to 'About', about_path, :class => (params[:controller] == 'home' && params[:action] == 'about' ? 'active' : nil)
