
%header#global-header
  %nav
    %ul#global-nav
      - if user_signed_in?
        %li#gn-logo
          = link_to activity_path('all'), :class => 'logo' do
            %span give
            brand
        %li#gn-logout
          = link_to "Logout", destroy_user_session_path
        %li#gn-profile
          = link_to 'Profile', me_user_path(current_user), :class => ((params[:controller] == 'users' && params[:action] == 'show') || (params[:controller] == 'users/registrations') ? 'active' : nil)
        %li#gn-tour
          = link_to 'Tour', tour_path, :class => (params[:controller] == 'home' && params[:action] == 'tour' ? 'active' : nil)
        %li#gn-invite
          = link_to 'Invite', new_user_invitation_path, :class => (params[:controller] == 'users/invitations' && params[:action] == 'new' ? 'active' : nil)
        %li#gn-activity
          = link_to 'Home', activity_path('all'), :class => (params[:controller] == 'activities' ? 'active' : nil)
      - else
        %li#gn-logo
          = link_to root_path, :class => 'logo' do
            %span give
            brand
          //= link_to image_tag('give_brand_logo.png'), root_path, :class => 'logo'
        %li#gn-tour
          = link_to 'Tour', tour_path, :class => (params[:controller] == 'home' && params[:action] == 'tour' ? 'active' : nil)
        %li#gn-register
          = link_to "Sign up", new_user_registration_path, :class => (params[:controller] == 'users/registrations' ? 'active' : nil)
        %li#gn-login
          = link_to 'Login', new_user_session_path, :class => (params[:controller] == 'users/sessions' ? 'active' : nil)

  #global-search
    = form_tag users_path, :id => 'g-search', :method => :get do
      = label_tag :q, "Search"
      = text_field_tag :q, '', :id => 'g-searchtext', :placeholder => 'Search people or tag'
      %button go
  -# #twitter
  -#   = link_to image_tag('twitter-icon.png'), 'http://twitter.com/'

