#invitation_content
  %h1 Invite a friend
  = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:id => 'invitation_form', :method => :post }) do |f|
    - if @success
      #invitation_status.hide= flash[:invitation_success]
    %ul.inputs-list
      %li= f.input :tag_names, :label => 'Tags', :input_html => {:id => 'invite_tag_names'}, :placeholder => 'e.g. web design, leadership (comma separated)', :wrapper => false
      %li= f.input :email, :wrapper => false
      %li.buttons
        = f.button :submit, "Save", class: 'btn primary large'
