%nav#profile-nav
  .photo
    = link_to image_tag(current_user.avatar_url(:avatar)), edit_user_registration_path, :id => 'user_avatar_sidebar'
    - if show_guide?(current_user, params[:show_guide])
      = link_to image_tag("indicator.png"), nil, id: 'show_guide'

  .my-actions
    %h3
      = "Welcome #{link_to(current_user.short_name, edit_user_registration_path)}".html_safe
    .view
      = link_to 'Invite People', people_invite_path

%nav#friend-nav
  %ul
    %li
      = link_to people_path do
        %span= current_user.tagged.count
        Tagged
    %li
      = link_to people_tagged_you_path do
        %span= current_user.tagged_you.count
        Tagged You
    %li
      = link_to people_pending_path do
        %span= current_user.pending.count
        Pending

%nav#popular-tags
  %h3
    Trending Tags
    .view-all= link_to "View More", "#"
  %ul.horizontal
    %li
      = link_to "#" do
        Design
        %span +
    %li
      = link_to "#" do
        Interaction
        %span +
    %li
      = link_to "#" do
        CSS3
        %span +
    %li
      = link_to "#" do
        Experience
        %span +
    %li
      = link_to "#" do
        Responsive
        %span +
    %li
      = link_to "#" do
        HTML5
        %span +
