- if user
  %nav#profile-nav
    - if current_user && current_user == user
      - profile_complete_percent = user.profile_complete_percent
      .photo
        =link_to image_tag(user.avatar_url(:avatar)), edit_user_registration_path

      .my-actions
        %h3
          = "Welcome #{user.short_name}"
        = link_to 'Edit profile', edit_user_registration_path, :class => 'edit'
        -#= link_to "#{user.profile_complete_percent}%", '#', :id => 'guide-tip', :class => 'guide-tip'
        -#%input.knob{"value" => 50, "data-width" => "50", "data-readOnly" => 'true', :type => "text"}

#guide-tip-content{:style => 'display:none'}
  %span.profile-progress="Just a fiew steps away from completing your profile."
  -#= link_to "complete your profile", "#", :id => 'complete-profile',:class => "profile-complete"
  = link_to "complete your profile", "#", :id => 'complete-profile',:class => "button"

#guide-tip-modal{:style => 'display:none'}
  = simple_form_for(current_user, :as => :user, :url => registration_path(:user), :html => {:multipart => true, :method => :put }) do |f|
    %h1 Edit your profile
    %ul.inputs-list.left
      %li= f.input :username, :required => false, :wrapper => false
      %li= f.input :full_name, :wrapper => false
      %li= f.input :avatar, :as => :file, :wrapper => false
      %li= f.hidden_field :avatar_cache
      %li= f.input :job_title, :wrapper => false
      %li= f.input :location, :wrapper => false
      %li= f.input :personal_url, :wrapper => false, :label => 'Website'
      %li= f.input :twitter_handle, :wrapper => false, :label => 'Twitter Username'
      %li.buttons= f.button :submit, "Save", class: 'btn primary large'
