- can_delete ||= false
%section#tags
  #add-tag
    .inner{:class => (@user == current_user) ? "cannot_tag" : nil}
      - if @user != current_user
        = form_tag user_user_tags_path(@user) do
          = label_tag :tag_names, "Add Tags"
          = text_field_tag :tag_names, '', :placeholder => 'e.g. web design, leadership (comma separated)', :class => 'large', :id => 'tag_names'

          %button.btn.primary.large ADD TAG
        .vouche Or <strong>vouch for existing tag</strong><br/> by clicking on it
    .arrow
  = image_tag "ajax_loader.gif", :id => 'tag-could-loader', :style => "display:none;"


  - if @user.user_tags.blank? && current_user == @user
    = render :partial => 'shared/no_tags.html.haml'
  - else current_user
    %div{:id => 'tag-cloud',
         "data-tag-cloud-path" => user_user_tags_path(@user),
                    :"data-user-slug" => @user.slug.to_s,
                    :"data-logged-in" => user_signed_in?.to_s,
                    :"data-can-vote" => (@user != current_user).to_s,
                    :"data-can-delete" => can_delete.to_s,
                    :"data-user" => {:full_name => @user.full_name}.to_json}
    #tag-msg
      %span.icon
      = tag_cloud_summary(@user)
