%nav.popular-tags
  %h3
    Trending Tags
    .view-all= link_to "View More", "#"
  %ul.horizontal
    %li
      = link_to "#" do
        Design
        %span +
    %li
      = link_to "#" do
        Interaction
        %span +
    %li
      = link_to "#" do
        CSS3
        %span +
    %li
      = link_to "#" do
        Experience
        %span +
    %li
      = link_to "#" do
        Responsive
        %span +
    %li
      = link_to "#" do
        HTML5
        %span +
