%li{:class => "vouch #{activity_item_class(activity_item)}"}
  .content
    .tag-icon
    = render 'activities/elements/photo', activity_item: activity_item
    %h2= activity_description(activity_item)

    .activity_details
      = render 'shared/tags', tags: activity_item.tags

    %time= activity_item.created_at.strftime("%d. %b %Y")
