#content
  %section#activity
    %header#page-header
      %h1 Activity feed
      %nav.right
        %ul.tabs
          %li.first.active
            = link_to 'All', '#'
          %li
            = link_to 'Incoming activity', '#'
          %li.last
            = link_to 'My activity', '#'
    .feed
      %ul.list-view.unstyled

        %li.vouche
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}
            .icon
            %h2
              = link_to 'Zoran Jambor', '#'
              vouched for <strong>web designer</strong>
            %time 13. Jan 2012

        %li.tag
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}
            .icon
            %h2
              = link_to 'Zoran Jambor', '#'
              tagged you as <strong>illustration, drawing</strong>
            %time 13. Jan 2012

        %li.vouche.you
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/jankowarpspeed?size=mini', :class => 'over'}
            .icon
            %h2
              You vouched on
              = link_to 'Janko Jovanovic', '#'
              's profile for<strong>web designer, web developer</strong>
            %time 13. Jan 2012


    .pagination
      %ul
        %li.prev.disabled
          = link_to '<', '#'
        %li.active
          = link_to '1', '#'
        %li
          = link_to '2', '#'
        %li
          = link_to '3', '#'
        %li.next
          = link_to '>', '#'

%aside

  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}

    .my-actions
      Welcome Adriana
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout
  %section#invite-side
    %h2 Invite friends
    %ul.unstyled
      %li.facebook
        %span.icon
        = link_to "From facebook", '#'
      %li.twitter
        %span.icon
        = link_to "From twitter", '#'
      %li.email
        %span.icon
        = link_to "Using email", '#'

  %section#import
    %h2 Import account
    %span.icon
    Import settings and contacts from your LinkedIn account

