#featured
  //%h1 Lorem Ipsum Dolor Sit Amet
  //%h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  //= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup"

  %h1 A new brand of influence
  %h2 Let the people who know you best tell the rest of the world what you do best.
  .easy-signup
    = simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
      %ul
        %li= f.input :username, :required => false, :autofocus => true, :placeholder => "Username", :label_html => {:class => 'hidden'}
        %li= f.input :email, :placeholder => "Email", :label_html => {:class => 'hidden'}
        %li= f.input :password, :placeholder => "Password", :label_html => {:class => 'hidden'}
        %li.buttons= f.button :submit, "Sign up now for free", class: 'btn large primary'

  %br

  -#%ul#slider.unstyled{:style => "height:200px"}
  %ul#explain.unstyled.slim
    %li
      = image_tag 'screen1.png'
      %h3 Spread some love
      %p Assign influence tags to your contacts — or build them up by vouching for a tag they've already been given — then keep an eye on their burgeoning empires as more people pitch in to tag them.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen2.png'
      %h3 Get tagged back
      %p Keep doing what you do best…and share your GiveBrand page throughout your social networks. Start building that tag cloud, and watch your own personal brand start to blow up.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen3.png'
      %h3 Get cred... organically
      %p GiveBrand doesn't use some mysterious algorithm. Our formula's simple: The more you've been tagged, the bigger your influence (you rock star, you).
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen4.png'
      %h3 Use your Midas touch
      %p Want to tag someone else as influential in a category you're already dominating? Everything you touch turns to gold! Your tag means that much more as a top dog.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"

#video
  %h2 Watch our video and find out more
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/He_PWsJqsVY?rel=0", :width => "560"}
  %p= link_to "You may want to check our illustrated tour.", tour_path


