.featured
  //%h1 Lorem Ipsum Dolor Sit Amet
  //%h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  //= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup"

  %h1 Tag. Be tagged. Get credible.
  %h2 Build your brand with the help of friends, colleagues and people who know you.
  .easy-signup
    = simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
      %ul
        %li= f.input :username, :required => false, :placeholder => "Username", :label_html => {:class => 'hidden'}
        %li= f.input :email, :placeholder => "Email", :label_html => {:class => 'hidden'}
        %li= f.input :password, :placeholder => "Password", :label_html => {:class => 'hidden'}
        %li.buttons= f.button :submit, "Sign up now for free", class: 'btn large primary', id: 'landing_sign_up_top'

  %br

  -#%ul#slider.unstyled{:style => "height:200px"}
  %ul#explain.unstyled.slim
    %li
      = image_tag 'screen1.png'
      %h3 Simple
      %p GiveBrand is powered by people, not algorithms: The more people tag you, the higher your credibility.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen2.png'
      %h3 Social
      %p Invite contacts one by one, via email, or connect your Twitter account — go straight to the people who know you best.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen4.png'
      %h3 Streamlined
      %p Share your profile with headhunters, hiring managers, references and clients to give them a clear, simple view of your skills and personality.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"

#video
  %h2 Watch our video and find out more
  - unless Rails.env.test? # stop warnings when running specs
    %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "http://www.youtube.com/embed/He_PWsJqsVY?rel=0", :width => "560"}
  %p= link_to "You may want to check our illustrated tour.", tour_path

.featured
  .easy-signup
    = simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
      %ul
        %li= f.input :username, :required => false, :placeholder => "Username", :label_html => {:class => 'hidden'}
        %li= f.input :email, :placeholder => "Email", :label_html => {:class => 'hidden'}
        %li= f.input :password, :placeholder => "Password", :label_html => {:class => 'hidden'}
        %li.buttons= f.button :submit, "Sign up now for free", class: 'btn large primary', id: 'landing_sign_up_bottom'


