= content_for :javascripts do
  %script{:src => "http://www.youtube.com/player_api", :type => "text/javascript"}

.featured
  //%h1 Lorem Ipsum Dolor Sit Amet
  //%h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  //= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup"

  %h1 Your resume, amplified by your network
  %h2 Instantly show recruiters, hiring managers and potential clients your best skills and traits — chosen and vouched for by your friends and colleagues — and land your dream gig.
  .video
    #landing-video
      -#- unless Rails.env.test? # stop warnings when running specs
      -# %iframe{ width: "560", height: "315", src: "http://www.youtube.com/embed/1yGSIHcAPqs", frameborder: "0", allowfullscreen: ''}

  .easy-signup
    = simple_form_for(User.new, :as => :user, :url => registration_path(:user), :html => {:id => 'landing_sign_up_top'} ) do |f|
      %ul
        %li= f.input :username, :required => false, :placeholder => "Username", :label_html => {:class => 'hidden'}
        %li= f.input :email, :placeholder => "Email", :label_html => {:class => 'hidden'}
        %li= f.input :password, :placeholder => "Password", :label_html => {:class => 'hidden'}
        %li.buttons= f.button :submit, "Sign up now for free", class: 'btn large primary'
