#featured
  //%h1 Lorem Ipsum Dolor Sit Amet
  //%h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  //= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup"

  %h1 A new brand of influence
  %h2 Let the people who know you best tell the rest of the world what you do best.
  .easy-signup
    = simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f|
      %ul
        %li= f.input :username, :required => false, :autofocus => true, :placeholder => "Username", :label => false
        %li= f.input :email, :placeholder => "Email", :label => false
        %li= f.input :password, :placeholder => "Password", :label => false
        %li.buttons= f.button :submit, "Sign up now for free", class: 'btn large primary'

  %br

  -#%ul#slider.unstyled{:style => "height:200px"}
  %ul#explain.unstyled.slim
    %li
      = image_tag 'screen1.png'
      %h3 Spread some love
      %p Assign influence tags to your contacts — or build them up by vouching for a tag they've already been given — then keep an eye on their burgeoning empires as more people pitch in to tag them.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen2.png'
      %h3 Get tagged back
      %p Keep doing what you do best…and share your GiveBrand page throughout your social networks. Start building that tag cloud, and watch your own personal brand start to blow up.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen3.png'
      %h3 Get cred... organically
      %p GiveBrand doesn't use some mysterious algorithm. Our formula's simple: The more you've been tagged, the bigger your influence (you rock star, you).
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"
    %li
      = image_tag 'screen4.png'
      %h3 Use your Midas touch
      %p Want to tag someone else as influential in a category you're already dominating? Everything you touch turns to gold! Your tag means that much more as a top dog.
      -#= link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup left"

  -#.cloud

#content.center
  %section#activity
    %header#page-header
      %h1 Recent Activities
    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .tag-icon
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              -#.icon
              %h2= activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    -#= will_paginate @activity_items

-# %aside.benefits
  -# %ul.unstyled.slim
  -#   %li
  -#     //= image_tag 'info.png'
  -#     %h2 Vouche or Tag
  -#     %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  -#   %li
  -#     //= image_tag 'info.png'
  -#     %h2 Follow Activity
  -#     %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  -#   %li
  -#     //= image_tag 'info.png'
  -#     %h2 Share Progress
  -#     %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  -#   %li
  -#     //= image_tag 'info.png'
  -#     %h2 Get Credible
  -#     %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
