
#featured
  %h1 Lorem Ipsum Dolor Sit Amet
  %h2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  = link_to "Sign up now for free!", new_user_registration_path, :class => "big-signup"
  
  %ul.unstyled
    %li
      = image_tag 'info.png'
      %h3 Vouche or Tag
      %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %li
      = image_tag 'info.png'
      %h3 Follow Activity
      %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %li
      = image_tag 'info.png'
      %h3 Share Progress
      %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
    %li
      = image_tag 'info.png'
      %h3 Get Credible
      %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
  
  .cloud
  
#content
  %section#activity
    %header#page-header
      %h1 Recent Activities
    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .tag-icon
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              -#.icon
              %h2= activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    -#= will_paginate @activity_items