#content
  %section#activity
    %header#page-header
      %h1 Recent Activities
    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .tag-icon
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              -#.icon
              %h2= activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    -#= will_paginate @activity_items
