- content_for :styles do
  = stylesheet_link_tag 'search', :media => 'all'

#content
  %section#search
    %header#page-header
      %h1 Search results for <em>'web designer'</em>
            
    .feed
      %ul.list-view.unstyled
        
        %li.vouche
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}                       
            %h2 
              = link_to 'Zoran Jambor', '#' 
              ,web designer      
            .details
              .icon 
              You interacted with Zoran’s profile. Top tags: web developer, web designer, css        
        
        %li
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}
                        
            %h2 
              = link_to 'Zoran Jambor', '#' 
              ,Head of User Experience at @kalaharicom           
            .details Top tags: UX designer, designer, web designer

        %li
          .content
            .photo
              %a{:href => '', :class => ""}
                %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=normal'}                               
                        
            %h2              
              = link_to 'Janko Jovanovic', '#' 
              Interaction designer            
            .details Top tags: UX designer, designer, web designer         
                                
            
    .pagination
      %ul
        %li.prev.disabled
          = link_to '<', '#'
        %li.active
          = link_to '1', '#'          
        %li
          = link_to '2', '#'
        %li
          = link_to '3', '#'        
        %li.next
          = link_to '>', '#'
      
%aside
  
  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}
    
    .my-actions 
      Welcome Adriana 
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout
  
  %section#latest-activity
    %h2 Latest incoming activity
    
    %ul.unstyled
      %li.tag
        %span.icon 
        Janko Jovanovic tagged you as enterpreneur
      %li.vouch
        %span.icon
        Boban Jovanoski vouched for enterprenur, manager,  leader
      %li.tag
        %span.icon
        John Smith tagged you as thinker
      %li.tag
        %span.icon
        Marting Berg tagged you as thinker
      %li.vouch
        %span.icon
        Jessica Hess vouched for enterprenur
    
    = link_to 'View all incoming activity ►', ''
       
