.inner-page
  %h1 The people behind GiveBrand

  %ul.team-list
    %li
      = image_tag "team/russ.jpg"
      %h2
        Russ Trpkovski
        %span Co-Founder
      %p
        Russ, Michigan native who currently lives in Chicago, IL, helps shape the product with the help of the GiveBrand’s talented designers and developers.
        He has a technical consulting background, follows financial markets, and enjoys non-fiction, and craft beers.
    %li
      = image_tag "team/bobi.png"
      %h2
        Boban Jovanoski
        %span Co-Founder and Future Branding Developer
      %p
        Team player, new tech enthusiast, programming language explorer and geek.
        Has a bachelor degree in Software Engineering, from the European University
        in Skopje
        %a{:href => 'http://www.eurm.edu.mk/?L=2', :target => '_blank'} http://www.eurm.edu.mk
        currently working on his master's degree.
        He is also co-founder of MKRUG (Macedonian Ruby Users Group) and open source contributor.
        Forms an unbreakable bond with Ruby, Ruby on Rails and Javascript since 2007.
        Works on various web and mobile applications ever since.
        Currently lives in Hamburg, Germany where he works at Qype – the largest user-generated local review site in Europe.
        In his spare time he is either qyping, biking or pondering world domination.
        Twitter:
        %a{:href => 'http://twitter.com/#!/BobiRuby', :target => '_blank'}http://twitter.com/#!/BobiRuby
        Website:
        %a{:href => 'http://boban.jovanoski.net/', :target => '_blank'} http://boban.jovanoski.net/

    %li
      = image_tag "team/dalibor.png"
      %h2
        Dalibor Nasevic
        %span Co-Founder & Developer
      %p
        %a{:href => 'http://dalibornasevic.com/', :target => '_blank'} Dalibor Nasevic
        is Software Professional living in Skopje, MK.
        He is an award-winning Android mobile application developer and Ruby on Rails open-source contributor.
        He is also co-founder & organizer of local Ruby Users Group.

    %li
      = image_tag "fallback/thumb_default_avatar.png"
      %h2
        Dime Pashoski
        %span Title
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.

    %li
      = image_tag "fallback/thumb_default_avatar.png"
      %h2
        Paige Worthy
        %span Title
      %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
