.inner-page
  %h1.border The people behind GiveBrand

  %ul.team-list
    %li
      = image_tag "team/russ.jpg"
      %h2
        Russ Trpkovski
        %span Co-Founder
      %p
        Russ is a Michigan native who, like 90 percent of other Michiganders his age, now lives in Chicago. He has a technical consulting background — by day, he makes a lot of complicated PowerPoints — and follows the financial markets, reads nonfiction, and drinks craft beers in his spare time. When he isn't shaping GiveBrand with the rest of the design and developer team.
        %br
        %a{:href => 'http://twitter.com/hriste', :target => '_blank', :class => "twitter-url btn primary small light"} @hriste

    %li
      = image_tag "team/bobi.jpg"
      %h2
        Boban Jovanoski
        %span Co-Founder
      %p
        Boban is a team player, new-tech enthusiast, programming language explorer and all-around geek (tag him on it). He cofounded MKRUG, the Macedonian Ruby Users Group. He lives in Hamburg, Germany, and works at
        %a{:href => 'http://www.qype.co.uk/', :target => '_blank'} Qype
        , Europe's largest user-generated review site. In what little free time he has, Boban rides his bike and ponders world domination.
        %br
        %a{:href => 'http://twitter.com/BobiRuby', :target => '_blank', :class => "twitter-url btn primary small light"} @BobiRuby

    %li
      = image_tag "team/dalibor.jpg"
      %h2
        Dalibor Nasevic
        %span Co-Founder
      %p
        An award-winning Android application developer and Ruby on Rails open-source contributor from Skopje, Macedonia — yes, that
        %a{:href => 'http://goo.gl/maps/WyAA', :target => '_blank'} Macedonia
        — Dalibor has been working on numerous Ruby on Rails projects since 2007. He cofounded MKRUG, the Macedonian Ruby users group, and works at
        %a{:href => 'http://www.siyelo.com/', :target => '_blank'} Siyelo
        , expert Ruby on Rails consultancy from Cape Town.
        %br
        %a{:href => 'http://twitter.com/blackflasher', :target => '_blank', :class => "twitter-url btn primary small light"} @blackflasher

    %li
      = image_tag "team/dime.jpg"
      %h2
        Dime Pashoski
        %span Designer
      %p
        As an interface designer, specializing in usability and visual design, Dime is able to create unique, dynamic and highly responsive user experience. A strong proponent for web standards, his approach to design is always "Content First". With years of experience in architecture, Dime has developed a keen eye for detail and practical solutions.
        %br
        %a{:href => 'http://twitter.com/exterminateart', :target => '_blank', :class => "twitter-url btn primary small light"} @exterminateart

    %li
      = image_tag "team/paige.jpg"
      %h2
        Paige Worthy
        %span Content Manager
      %p
        Midwest born and bred — with a short stint in New York City for good measure — Paige is a full-time content strategist lending spunk, sass and voice to small businesses and startups by the hour. She wrote GiveBrand's site copy and all other e-mail and marketing collateral. (Feedback welcome!) She loves snarky blogs, cat videos, food and riding bikes.
        %br
        %a{:href => 'http://twitter.com/paigeworthy', :target => '_blank', :class => "twitter-url btn primary small light"} @paigeworthy

