- content_for :scripts do
  :javascript
    $(window).load(function() {
      $(this).joyride();
    });

%div.tour_item
  %h2#n1
    %span.number 1
    Introduce yourself to GiveBrand
  = image_tag"tour-screen-1.jpg"
  %p GiveBrand is all about building your personal brand — get the balling rolling by fleshing out your profile. Make your profile more inviting with your contact information, job title and a profile photo.
%div.tour_item
  %h2#n2
    %span.number 2
    Get the party started
  = image_tag"tour-screen-2.jpg"
  %p Invite people who know you to join the site by posting your unique profile URL to LinkedIn or Twitter. The bigger your GiveBrand community grows, the quicker your own brand will follow suit.
%div.tour_item
  %h2#n3
    %span.number 3
    Tag and be tagged
  = image_tag"tour-screen-3.jpg"
  %p Let the tagging frenzy begin! Once your friends and colleagues have joined GiveBrand, they can add unlimited words to describe you, your expertise and your personality — and you can do the same for them.
%div.tour_item
  %h2#n4
    %span.number 4
    Add fuel to the fire
  = image_tag"tour-screen-2.jpg"
  %p If someone sees a tag they agree with, they can click the word to vouch for a tag you’ve already been given — this boosts your cred even faster.
%div.tour_item
  %h2#n5
    %span.number 5
    Keep tabs on your tags
  = image_tag"tour-screen-5.jpg"
  %p Got the competitive itch? Hover over a word in your tag cloud to see how you stack up against other GiveBrand users with the same tag. See one where you need a boost? Invite more people and work that hustle!

/ %ol#joyRideTipContent
/   %li.custom{"data-id" => "n1", "data-text" => "Next"}
/     %p GiveBrand is all about building your personal brand — get the balling rolling by fleshing out your profile. Make your profile more inviting with your contact information, job title and a profile photo.
/   %li{"data-id" => "n2", "data-text" => "Next", "data-options" => "tipLocation:top;tipAnimation:fade"}
/     %p Invite people who know you to join the site by posting your unique profile URL to LinkedIn or Twitter. The bigger your GiveBrand community grows, the quicker your own brand will follow suit.
/   %li{"data-id" => "n3", "data-text" => "Next", "data-options" => "tipLocation:top;tipAnimation:fade"}
/     %p Let the tagging frenzy begin! Once your friends and colleagues have joined GiveBrand, they can add unlimited words to describe you, your expertise and your personality — and you can do the same for them.
/   %li{"data-id" => "n4", "data-text" => "Next", "data-options" => "tipLocation:top;tipAnimation:fade"}
/     %p If someone sees a tag they agree with, they can click the word to vouch for a tag you’ve already been given — this boosts your cred even faster.
/   %li{"data-id" => "n5", "data-text" => "Close", "data-options" => "tipLocation:top;tipAnimation:fade"}
/     %p Got the competitive itch? Hover over a word in your tag cloud to see how you stack up against other GiveBrand users with the same tag. See one where you need a boost? Invite more people and work that hustle!
