= simple_form_for(message, url: twitter_messages_path, remote: true, html: {id: 'js-twitter-invitation-form', method: :post }) do |f|
  %ul.inputs-list
    = f.input :twitter_id, id: 'js-twitter-id', readonly: true, as: :hidden
    = f.input :screen_name, id: 'js-twitter-screen-name', readonly: true, as: :hidden
    %li= f.input :tag1, placeholder: "First tag", label: "First tag", label_html: {class: 'hidden'}
    %li= f.input :tag2, placeholder: "Second tag", label: "Second tag", label_html: {class: 'hidden'}
    %li= f.input :tag3, placeholder: "Third tag", label: "Third tag", label_html: {class: 'hidden'}
    %li.buttons
      = f.submit :send_dm, value: "Send Direct Message", class: "btn primary large"
      .loading{style: "display: none"} loading...
