.link_details
  - if current_user && current_user.id == link.user_id
    = link_to "Delete", user_link_path(current_user, link), method: :delete, data: { confirm: "Are you sure you want to delete this link?" }, class: 'btn primary small right red'
  .title= link_to (link.title.presence || link.url), link.url, target: '_blank'
  .url= base_url(link.url)
  %p
    - if link.thumbnail_url.present?
      = image_tag link.thumbnail_url
    = link.description
  = render 'shared/tags', tags: link.tags
