- title("Shared articles by #{@user.name} on Givebrand #{pagination_title(@links)}")

#content
  = render 'shared/profile'

  %section.content
    %header#page-header
      %h1 Shared articles

  .listing-wrap
    %section#links.listing
      %ul#js_collection_list
        = render 'links'

      = will_paginate @links

%aside
  = render 'shared/friend_nav', user: @user
  = render 'shared/sidebar_activity', :user => @user
