- title("Shared articles by #{@user.name} on Givebrand #{pagination_title(@links)}")

#content
  = render 'shared/profile'

  %section.content
    %header#page-header.header_style
      %h1 Shared links

  .listing-wrap
    %section#links.listin
      %ul#js_collection_list.list-view.unstyled
        = render 'links'

      = will_paginate @links

%aside
  = render 'shared/friend_nav', user: @user
  = render 'shared/sidebar_activity', :user => @user
