#content
  %section#devise
    %header#page-header
      %h1 Set your password

    = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name)) do |f|
      %ul.inputs
        = f.hidden_field :invitation_token
        %li= f.input :full_name, :required => false, :autofocus => true, :placeholder => "Full Name"
        %li= f.input :password, :placeholder => "Password"
        %li= f.input :password_confirmation, :placeholder => "Password confirmation"
        %li.buttons= f.button :submit, "Set my password", class: 'btn large primary'
      %br
