%li{id: dom_id(endorsement)}
  .js_endorsement
    = auto_link(endorsement.description, :html => {:target => '_blank'}, :link => :urls)
    %span.endorser
      Written by
      = link_to endorsement.endorser.short_name, user_path(endorsement.endorser)
      %span ,
      = time_ago_in_words(endorsement.created_at)
      %span ago
    - if user_signed_in? && current_user == @user
      = link_to "X", user_endorsement_path(endorsement.endorser, endorsement), remote: true, method: :delete, data: { confirm: 'Are you sure you want to delete this endorsement?' }, class: 'js-endorsement-delete endorse-delete'
    - if user_signed_in? && current_user == endorsement.endorser
      = link_to "edit", edit_user_endorsement_path(endorsement.endorser, endorsement), remote: true, class: 'js-endorsement-edit endorse-edit'
