= simple_form_for(@endorsement, remote: true, html: {class: [(@endorsement.new_record? ? 'js-endorsement-form-new' : 'js-endorsement-form-edit'), 'js-endorsement-form', 'tag-endorse-text'] }) do |f|
  - if @endorsement.new_record?
    %p Write your endorsement here:
  - else
    %p Edit endorsement:
  = hidden_field_tag :user_tag_id, nil
  = f.input :user_tag_id, as: :hidden
  = f.input :description, label: false, input_html: {rows: 2}
  %span.hint
    %span#endorsement_word_counter 300
    characters remaining
  .buttons
    = f.button :submit, (@endorsement.new_record? ? "Endorse" : "Save"), class: 'btn primary'
    %span.inline
      = link_to 'Cancel', '#', class: 'js-cancel-endorsement'
    %span.loader.inline.hide
      = image_tag 'ajax_loader.gif'
