= simple_form_for(@endorsement || Endorsement.new, url: endorsements_path, remote: true, html: {class: 'js-endorsement-form tag-endorse-text'}) do |f|
  %p Write an endorsement:
  = hidden_field_tag :user_tag_id, nil
  = f.input :user_tag_id, as: :hidden
  = f.input :description, label: false, input_html: {rows: 2}
  %span.hint
    Your endorsement in less than
    %span#endorsement_word_counter 300
    characters.
  .buttons
    = f.button :submit, "Endorse", class: 'btn primary'
  .loader.hide
    =image_tag 'ajax_loader.gif'
