- @activity_items.each do |activity_item|
  %li{:class => activity_item_class(activity_item)}
    .content
      .tag-icon
      .photo
        = link_to user_path(activity_item.user) do
          - if activity_item.user_id == activity_item.target_id
            = image_tag activity_item.user.avatar.url(:medium), class: 'self-tag'
          - else
            = image_tag activity_item.user.avatar.url(:small)
            = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
      -#.icon
      %h2
        = activity_description(activity_item)
      //%br
      //%p.feed-score
      //  Score:
      //  %span 3,
      //  Position:
      //  %span #4
      //  out of
      //  %span 102
      -# %ul.feed-users.horizontal
      -#   %li Other users:
      -#   %li= link_to image_tag activity_item.user.avatar.url(:small)
      -#   %li= link_to image_tag activity_item.user.avatar.url(:small)
      -#   %li= link_to image_tag activity_item.user.avatar.url(:small)

      %time= activity_item.created_at.strftime("%d. %b %Y")
