#content.activities_wrapper
  %section.content
    %header#page-header
      %h1 Recent Activity
      %nav.right
        %ul.tabs
          %li.first{:class => activity_tab_class('all')}
            = link_to 'All', activity_path('all'), :class => 'js-remote'
          %li{:class => activity_tab_class('incoming')}
            = link_to 'Notifications', activity_path('incoming'), :class => 'js-remote'
          %li.last{:class => activity_tab_class('outgoing')}
            = link_to 'My Activity', activity_path('outgoing'), :class => 'js-remote'

    .feed
      %ul.list-view.unstyled#js_collection_list

        - if @activity_items.present?
          = render 'activities'

        - else
          .ngo
            %p
              %span No recent activity
              %br
              == #{link_to "Brand Yourself", user_path(current_user)} or #{link_to "invite people", new_user_invitation_path}.
    = will_paginate @activity_items
