#content
  %section#activity
    %header#page-header
      %h1 Recent Activity
      %nav.right
        %ul.tabs
          %li.first{:class => activity_active_class('all')}
            = link_to 'All', activity_path('all'), :class => 'js-remote'
          %li{:class => activity_active_class('incoming')}
            = link_to 'Notifications', activity_path('incoming'), :class => 'js-remote'
          %li.last{:class => activity_active_class('outgoing')}
            = link_to 'My Activity', activity_path('outgoing'), :class => 'js-remote'

    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .tag-icon
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              -#.icon
              %h2
                = activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    = will_paginate @activity_items

%aside
  = render :partial => 'shared/sidebar_nav', :locals => { :user => @user }
  .textbox
    %h3 Some title
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci.
