#content
  %section#activity
    %header#page-header
      %h1 Activity feed
      %nav
        %ul.tabs
          %li.first{:class => activity_active_class('all')}
            = link_to 'All', activity_path('all')
          %li{:class => activity_active_class('incoming')}
            = link_to 'Incoming activity', activity_path('incoming')
          %li.last{:class => activity_active_class('outgoing')}
            = link_to 'My activity', activity_path('outgoing')

    .feed
      %ul.list-view.unstyled
        - @activity_items.each do |activity_item|
          %li{:class => activity_class(activity_item)}
            .content
              .photo
                = link_to activity_item.user do
                  = image_tag activity_item.user.avatar.url(:small)
                  = image_tag activity_item.target.avatar.url(:tiny), :class => 'over'
              .icon
              %h2
                = activity_description(activity_item)
              %time= activity_item.created_at.strftime("%d. %b %Y")

    .pagination
      = will_paginate @activity_items


%aside

  %nav#profile-nav
    .photo
      %a{:href => '', :class => ""}
        %img{:src => 'https://api.twitter.com/1/users/profile_image/MarkoRosic?size=bigger'}

    .my-actions
      Welcome Adriana
      %br
      %a{:href => '', :class => "xxl"} Edit profile
      &bull;
      %a{:href => '', :class => "xxl"} Logout
  %section#invite-side
    %h2 Invite friends
    %ul.unstyled
      %li.facebook
        %span.icon
        = link_to "From facebook", '#'
      %li.twitter
        %span.icon
        = link_to "From twitter", '#'
      %li.email
        %span.icon
        = link_to "Using email", '#'

  %section#import
    %h2 Import account
    %span.icon
    Import settings and contacts from your LinkedIn account
