#content
  #invitation_content
    %header#page-header
      %h1 Invite a friend
      .right
        %br
        = link_to 'Back to your Network', network_path, :class => ((params[:controller] == 'network') ? 'active' : nil)
    = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:id => 'invitation_form', :method => :post }) do |f|
      - if @success
        #invitation_status.hide= flash[:invitation_success]
      %br
      %ul.inputs-list
        %li= f.input :email, :wrapper => false
        %li
          = label_tag :tag1, "First tag", :class => 'hidden'
          = text_field_tag :tag1, params[:tag1], :placeholder => 'First tag'
          - if resource.errors[:tag_names].present?
            %span.error add at least one tag
        %li
          = label_tag :tag2, "Second tag", :class => 'hidden'
          = text_field_tag :tag2, params[:tag2], :placeholder => 'Second tag'
        %li
          = label_tag :tag3, "Third tag", :class => 'hidden'
          = text_field_tag :tag3, params[:tag3], :placeholder => 'Third tag'
        %li.buttons
          = f.button :submit, "Invite", class: 'btn primary large'

    %section#invitation_contacts
      %header#page-header
        %h1 Friends You have invited
      %ul
        - @invited_users.each do |user|
          %li
            - if user.invitation_accepted_at
              = link_to user.name, me_user_path(user)
              %span.status Accepted
            - else
              = user.email
              %span.status Pending
%aside
  = render 'shared/sidebar_nav'
