#content
  #invitation_content
    %header#page-header
      %h1 Invite a friend
    = simple_form_for(resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:id => 'invitation_form', :method => :post }) do |f|
      - if @success
        #invitation_status.hide= flash[:invitation_success]
      %ul.inputs-list
        %li= f.input :tag_names, :label => 'Tags', :input_html => {:id => 'invite_tag_names'}, :placeholder => 'e.g. web design, leadership (comma separated)', :wrapper => false
        %li= f.input :email, :wrapper => false
        %li.buttons
          = f.button :submit, "Invite", class: 'btn primary large'
    %section#invitation_contacts
      %header#page-header
        %h1 Friends You have invited
    %ul
      - @invited_users.each do |user|
        %li
          = user.email
          %span.status= (user.invitation_accepted_at || user.sign_in_count > 0) ? "Accepted Your invitation" : "Pending"
%aside
  = render 'shared/sidebar_nav'
