!!!
%html{:itemscope => "", :itemtype => "http://#{request.host}:#{request.port.to_s+request.fullpath}"}
  %head
    %title GiveBrand
    = render 'shared/meta_information'

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %script{:src => "http://use.typekit.com/sbg7dmp.js", :type => "text/javascript"}
    :javascript
      try { Typekit.load(); } catch (e) {}

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
      = stylesheet_link_tag "ie/application", :media => "all"

  %body{:id => controller_action_id}
    #page
      = render :partial => 'shared/header'

      #main
        = render 'shared/guide'

        - #TODO Style flash messages
        = flash_messages
        = yield

      %footer

        = link_to 'Tour', tour_path
        &bull;
        = link_to 'Privacy policy', privacy_path
        &bull;
        = link_to 'Terms of use', terms_path
        &bull;
        = link_to 'Press', press_path
        &bull;
        = mail_to 'feedback@givebrand.com', 'Send feedback'
        %br
        %span Copyright &copy; GiveBrand 2012
        %br
        %br
        - if params[:controller] == 'home'
          = link_to 'To the top', "#global-header", :class => "to-the-top"

      = yield :javascripts
      = render 'shared/google_analytics'
      = render 'shared/olark'
      = render 'shared/mixpanel'
