!!!
%html{:itemscope => "", :itemtype => "http://#{request.host}:#{request.port.to_s+request.fullpath}"}
  %head
    %title GiveBrand
    = render 'shared/meta_information'
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

    %script{:src => "http://use.typekit.com/sbg7dmp.js", :type => "text/javascript"}
    :javascript
      try { Typekit.load(); } catch (e) {}

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
      = stylesheet_link_tag "ie/application", :media => "all"

  %body{:id => controller_action_id}
    #page
      = render :partial => 'shared/header'

      #main
        = render 'shared/guide'

        - #TODO Style flash messages
        = flash_messages
        = yield

    .tour-inline
      #page.light
        %div.tour_item.first
          %h2#n1
            %span.number 1
            Create your profile
          = image_tag"tour-screen-1.jpg"
          %p GiveBrand is the simple, streamlined way to showcase your personal brand. Make your profile more inviting by adding your contact information, a photo and a short description of yourself.
          %p= link_to "Sign up now for free", new_registration_path(:user), :class => 'btn primary large light'
        %div.tour_item
          %h2#n2
            %span.number 2
            Invite your contacts
          = image_tag"tour-screen-2.jpg"
          %p Get started: Add contacts one by one, by e-mail, or link your Twitter account to GiveBrand and find friends that way. We'll invite them to join the site and let you know if they've accepted. (You can also link to your profile on any social media site!)
          %p= link_to "Sign up now for free", new_registration_path(:user), :class => 'btn primary large light'
        %div.tour_item
          %h2#n3
            %span.number 3
            Tag and be tagged
          = image_tag"tour-screen-3.jpg"
          %p Assign tags to your contacts or, if you see one there you agree with, vouch a tag they've already been given. Encourage them to return the favor - the more you give, the more you get!
          %p= link_to "Sign up now for free", new_registration_path(:user), :class => 'btn primary large light'
        %div.tour_item
          %h2#n4
            %span.number 4
            Add more details
          = image_tag"tour-screen-4.jpg"
          %p If a single word or phrase isn't enough for a tag to speak for itself, add a short, Twitter-style endorsement to explain a tag you've given them. Anyone who visits their profile will be able to see it.
          %p= link_to "Sign up now for free", new_registration_path(:user), :class => 'btn primary large light'
        %div.tour_item
          %h2#n5
            %span.number 5
            Keep tabs on your brand
          = image_tag"tour-screen-5.jpg"
          %p Hover over a word in your tag cloud to see how you stack up against other GiveBrand users with the same tag. The more you're tagged and vouched for in a certain category, the higher your credibility.
          %p= link_to "Sign up now for free", new_registration_path(:user), :class => 'btn primary large light'
    = render 'shared/explain'
    = render 'shared/footer'

    = yield :javascripts
    = render 'shared/google_analytics'
    = render 'shared/olark'
    = render 'shared/mixpanel'
