!!!
%html{:itemscope => "", :itemtype => "http://#{request.host}:#{request.port.to_s+request.fullpath}"}
  %head
    %title GiveBrand
    = render 'shared/meta_information'
    %link{ :rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }

    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

    %script{:src => "http://use.typekit.com/dde7uth.js", :type => "text/javascript"}
    :javascript
      try { Typekit.load(); } catch (e) {}

    /[if lt IE 9]
      %script(src="http://html5shiv.googlecode.com/svn/trunk/html5.js")
      = stylesheet_link_tag "ie/application", :media => "all"

  %body{:id => controller_action_id}
    #page
      = render :partial => 'shared/header'
    .featured-inline
      #page

        #main
          = render 'shared/guide'

          - #TODO Style flash messages
          = flash_messages
          = yield
    #page
      .ribbon
        = link_to "Check out our illustrated tour", tour_path

    .tour-inline
      = render 'shared/explain'
    = render 'shared/footer'

    = javascript_include_tag "application"
    = yield :javascripts
    = render 'shared/google_analytics'
    = render 'shared/mixpanel'
